footer{
    background-color: $darkColour;
}
.contact {
    text-align: center;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
}

.footer {
    font-size: 1.6rem;
    display: flex;
    margin-top: 0;
}
