html {
    font-size: 62.5%;
}

body {
    font-size: calc(.2vw + 1.8rem);
    color: oldlace;
    text-shadow: 1.5px 1.5px black;
    font-family: $sansSerif;
    overflow-x: hidden;
    background: $gradient;
    line-height: 1.6;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

section {
    padding: 50px;
        @media (max-width: 550px) {
        padding: 0;
    }
}

h1, h2, h3 {
    font-family: $serif;
    text-align: center;
}

h1 {
    font-size: calc(2.3vw + 3rem);
}
h2{
    margin-top: 0;
    font-size: calc(.5vw + 2.8rem);
}

h3 {
        font-size: calc(.2vw + 2.4rem);
}

ul {
    margin: 0;
}
li {
        list-style-type: none;
        padding: 10px;
    }

a {
    text-decoration: none;
    color: whitesmoke;
    &:hover, &:focus {
        color: $gradientLeft;
        font-weight: bold;
        // -webkit-text-stroke: .5px black;
    }
}

img {
    max-width: 100%;
}
