html {
    font-size: 62.5%;
}

body {
    font-size: 2.4rem;
    color: oldlace;
    text-shadow: 2px 2px black;
    font-family: $sansSerif;
    background: #FFF;

}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

section {
    padding: 50px;
}

h1, h2, h3 {
    font-family: $serif;
    text-align: center;
}

h2{
    margin-top: 0;
}

ul {
    margin: 0;
}
li {
        list-style-type: none;
        padding: 10px;
    }

a {
    text-decoration: none;
    color: whitesmoke;
    &:hover, &:focus {
        color: $gradientLeft;
        font-weight: bold;
    }
}