header p, header a {
    font-size: calc((2.6vw + 2rem) * .6);
    color: oldlace;
    text-shadow: 1.5px 1.5px black;
}

nav ul {
    background: linear-gradient(to right, $gradientLeft, $gradientRight);
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 1000px) {
        justify-content: space-evenly;
    }
    a {
        padding: 10px 25px;
        &:hover,  &:focus {
            color: $darkColour;
        }
    }
}

@media (max-width: 1000px) {
    .linkTitle {
        display: none;
    }
}

.landing {
    height:100vh;
    background: #150961;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .intro {
        background: linear-gradient(to right, rgba(122, 202, 255, 0.5), rgba(155, 118, 255, 0.5));
        padding: 50px;
        border-radius: 25px;
    }
}

//Scroll icon animation adapted from https://codemyui.com/scroll-icon-animation/
.scrollDown, .scrollDown:before {
    position: absolute;
    left: 50%;
    bottom: 5%; 
}

.scrollDown {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    bottom: 5%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 2px $gradientRight;
    border-radius: 25px;
}

.scrollDown:before {
    content: '';
    width: 8px;
    height: 8px;
    background: $gradientLeft;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(46px);
    }
}