.displayComp {
    background: cornflowerblue url('../assets/Macbook.png') center no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    position: relative;
}

.displayProjectImage {
    position: absolute;
    top: 90px;
    left:50px;
}