html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: calc(.2vw + 1.8rem);
  color: oldlace;
  text-shadow: 1.5px 1.5px black;
  font-family: "Muli", sans-serif;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#7ACAFF), to(#9B76FF));
  background: linear-gradient(to right, #7ACAFF, #9B76FF);
  line-height: 1.6;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

section {
  padding: 50px;
}

@media (max-width: 550px) {
  section {
    padding: 0;
  }
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

h1 {
  font-size: calc(2.3vw + 3rem);
}

h2 {
  margin-top: 0;
  font-size: calc(.5vw + 2.8rem);
}

h3 {
  font-size: calc(.2vw + 2.4rem);
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
  padding: 10px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover, a:focus {
  color: #7ACAFF;
  font-weight: bold;
}

img {
  max-width: 100%;
}

header p {
  font-size: calc((2.6vw + 2rem) * .6);
}

nav ul {
  background: -webkit-gradient(linear, left top, right top, from(#7ACAFF), to(#9B76FF));
  background: linear-gradient(to right, #7ACAFF, #9B76FF);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1000px) {
  nav ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

nav ul a {
  padding: 10px 25px;
  font-size: calc((2vw + 1.6rem) * .6);
}

@media (max-width: 1000px) {
  .linkTitle {
    display: none;
  }
}

.landing {
  height: 100vh;
  background: #150961;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .intro {
  background: -webkit-gradient(linear, left top, right top, from(rgba(155, 118, 255, 0.5)), to(rgba(122, 202, 255, 0.5)));
  background: linear-gradient(to right, rgba(155, 118, 255, 0.5), rgba(122, 202, 255, 0.5));
  padding: 50px;
  border-radius: 25px;
}

.scrollDown, .scrollDown:before {
  position: absolute;
  left: 50%;
  bottom: 5%;
}

.scrollDown {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 5%;
  margin-top: -35px;
  -webkit-box-shadow: inset 0 0 0 2px #9B76FF;
          box-shadow: inset 0 0 0 2px #9B76FF;
  border-radius: 25px;
}

.scrollDown:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #7ACAFF;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

.about {
  background: -webkit-gradient(linear, left top, right top, from(#7ACAFF), to(#9B76FF));
  background: linear-gradient(to right, #7ACAFF, #9B76FF);
}

.aboutInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.aboutInfo img {
  -webkit-box-shadow: -10px 5px 10px #150961;
          box-shadow: -10px 5px 10px #150961;
  width: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.aboutInfo .aboutMe {
  padding: 30px;
  color: #150961;
  text-shadow: none;
}

@media (max-width: 1000px) {
  .aboutInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skillSec {
  background-color: rgba(21, 9, 97, 0.6);
  text-shadow: none;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.skillSet {
  padding: 50px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 200px 200px 200px 200px 200px;
      grid-template-columns: 200px 200px 200px 200px 200px;
  -ms-grid-rows: 150px 150px;
      grid-template-rows: 150px 150px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(155, 118, 255, 0.6)), to(rgba(122, 202, 255, 0.6)));
  background: linear-gradient(to right, rgba(155, 118, 255, 0.6), rgba(122, 202, 255, 0.6));
  border-radius: 25px;
}

@media (max-width: 1150px) {
  .skillSet {
    -ms-grid-columns: 200px 200px 200px;
        grid-template-columns: 200px 200px 200px;
    -ms-grid-rows: 150px 150px 150px 150px;
        grid-template-rows: 150px 150px 150px 150px;
  }
}

@media (max-width: 900px) {
  .skillSet {
    -ms-grid-columns: 200px 200px;
        grid-template-columns: 200px 200px;
  }
}

@media (max-width: 575px) {
  .skillSet {
    -ms-grid-columns: 200px;
        grid-template-columns: 200px;
    -ms-grid-rows: (150px)[10];
        grid-template-rows: repeat(10, 150px);
  }
}

.skillSet i {
  font-size: 5rem;
}

.skillSet p {
  font-size: 2rem;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#7ACAFF), to(#9B76FF));
  background: linear-gradient(to right, #7ACAFF, #9B76FF);
}

.projects .displayComp {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .projects .displayComp {
    width: 100%;
  }
}

.projectInfo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  background-color: #8ba0ff;
  color: #150961;
  text-shadow: none;
  text-align: center;
}

@media (max-width: 550px) {
  .projectInfo {
    padding: 15px;
  }
}

.projectInfo p:first-of-type {
  text-align: left;
}

.projectInfo .button {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #6D60FF;
  color: oldlace;
  border: 1px solid oldlace;
  -webkit-box-shadow: 2px 2px oldlace;
          box-shadow: 2px 2px oldlace;
}

.projectInfo .button:hover, .projectInfo .button:focus {
  color: #7ACAFF;
  border: 1px solid #150961;
}

@media (max-width: 650px) {
  .projectInfo .button {
    display: block;
    margin: 20px;
  }
}

.projectLeft, .projectRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectLeft {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1000px) {
  .projectLeft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

.projectLeft .projectInfo {
  border-radius: 0 15px 15px 0;
}

@media (max-width: 1000px) {
  .projectLeft .projectInfo {
    border-radius: 15px;
  }
}

.projectRight {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1000px) {
  .projectRight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

.projectRight .projectInfo {
  border-radius: 15px 0 0 15px;
  max-width: 100vw;
}

@media (max-width: 1000px) {
  .projectRight .projectInfo {
    border-radius: 15px;
  }
}

footer {
  background-color: rgba(21, 9, 97, 0.5);
}

.contact {
  text-align: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px 0 0 0;
  font-size: 5rem;
}

@media (max-width: 650px) {
  .socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 650px) {
  .socials i {
    padding-top: 50px;
  }
}

@media (min-width: 700px) {
  .socials li {
    -webkit-transition: -webkit-transform .5s all;
    transition: -webkit-transform .5s all;
    transition: transform .5s all;
    transition: transform .5s all, -webkit-transform .5s all;
  }
  .socials li:hover, .socials li:focus {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.footer {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0;
  padding: 15px;
  background: #150961;
}

@media (max-width: 1130px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
